li {
    font-family: 'Roboto',
        sans-serif;
    list-style-type: none;
    
}
a{
        text-decoration: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
    
}
button{
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
}
.web{
   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
}
body {
    font-family: 'Roboto', sans-serif;
    color: black;
}
.web-study{
   
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: black;
}
.web-study:hover,:focus{
    color: #2196F3;
}
.web-portfolio{
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
}
.web-portfolio:hover,:focus{
    color: #2196F3;
}
.web-contacts{
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
}
.web-contacts:hover, :focus{
    color: #2196F3;
}
.mail{
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: black;
}
.mail:hover,:focus{
    color: #2196F3;
}
.tel{
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}
.tel:hover,:focus{
    color: #2196F3;
}
.busines{
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        
}
.fon{
        background-color: #2F303A;
}
.order{
        border: none;
        background-color: #188CE8;
}
.order:hover,:focus{
        background-color: #2196F3;
        color: #FFFFFF;
        
}
h3{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #757575;
}
.what-do{
        
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    
}
.ourbg{
    background: #F5F4FA;
}
.our-com{
    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
}
.ihor, .olha,
.mikola,
.misha{     
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
}

.bgfot {
        background-color: #2F303A;
    
}
.web-footer{
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
}

.maps-address:hover,:focus{
    color: #2196F3;
}
.mail-address:hover,:focus{
    color: #2196F3;
}
.tel-address:hover,:focus{
    color: #2196F3;
}
.maps-address{
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.mail-address{
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.tel-address{
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
/* Портфолио*/
.portfolio-navigation, .portfolio-site, .portfolio-dod, .portfolio-diz, .portfolio-mark{
        background-color: #188CE8;
        border: none;
}
.portfolio-navigation:hover, :focus, .portfolio-site:hover, :focus, .portfolio-dod:hover, :focus, .portfolio-diz:hover, :focus, .portfolio-mark:hover, :focus{
    background-color: #2196F3;
    cursor: pointer;
    color: #FFFFFF;
}
.portfolio-tekhno, .portfolio-poster, .portfolio-rest, .portfolio-prime, .portfolio-boxes, .portfolio-borders, .portfolio-limited, .portfolio-lab, .portfolio-growing{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0,    0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}


