li {
    font-family: 'Roboto',
        sans-serif;
    list-style-type: none;
    
}
ul {
    margin-left: 0;
    padding-left: 0;
    
}
.web{
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
}
body {
    font-family: 'Roboto', sans-serif;
}
.web-study{
    position: absolute;
        width: 45px;
        height: 16px;
        left: 453px;
        top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: black;
}
.web-study:hover,:focus{
    color: #2196F3;
}
.web-portfolio{
    position: absolute;
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}
.web-portfolio:hover,:focus{
    color: #2196F3;
}
.web-contacts{
    position: absolute;
        width: 64px;
        height: 16px;
        left: 670px;
        top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}
.web-contacts:hover, :focus{
    color: #2196F3;
}
.mail{
    position: absolute;
        width: 135px;
        height: 16px;
        left: 900px;
        top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: black;
}
.mail:hover,:focus{
    color: #2196F3;
}
.tel{
    position: absolute;
        width: 122px;
        height: 16px;
        left: 1100px;
        top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
}
.tel:hover,:focus{
    color: #2196F3;
}
.busines{
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #2F303A;
}
.order{
        position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        background-color: #188CE8;
}
.osob1{ 
        position: absolute;
        width: 270px;
        height: 98px;
        left: 215px;
        top: 774px;
}
.osob2{
        position: absolute;
        width: 270px;
        height: 74px;
        left: 515px;
        top: 774px;
}
.osob3{
        position: absolute;
        width: 270px;
        height: 74px;
        left: 815px;
        top: 774px;
}
.osob4{
        position: absolute;
        width: 270px;
        height: 98px;
        left: 1115px;
        top: 774px;
}

h3{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}
.what-do{
        position: absolute;
        width: 366px;
        height: 42px;
        left: 617px;
        top: 966px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    
}
.doing1{
        position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 1058px;
}
.doing2{
        position: absolute;
        width: 370px;
        height: 294px;
        left: 615px;
        top: 1058px;
}
.doing3{
        position: absolute;
        width: 370px;
        height: 294px;
        left: 1015px;
        top: 1058px;
}
.our-com{
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1540px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.ihor{
        position: absolute;
        width: 270px;
        height: 368px;
        left: 215px;
        top: 1632px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
}
.olha{
        position: absolute;
        width: 270px;
        height: 368px;
        left: 515px;
        top: 1632px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
}
.mikola{
    position: absolute;
        width: 270px;
        height: 368px;
        left: 815px;
        top: 1632px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
}
.misha{
    position: absolute;
        width: 270px;
        height: 368px;
        left: 1115px;
        top: 1632px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
}
.web-footer{
        position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 2154px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
}
.ul-address{
    position: absolute;
    width: 231px;
    height: 81px;
    left: 215px;
    top: 2205px;
    
}
.maps-address:hover,:focus{
    color: #2196F3;
}
.mail-address:hover,:focus{
    color: #2196F3;
}
.tel-address:hover,:focus{
    color: #2196F3;
}
